config router static
    edit 1
        set dst 10.0.1.0 255.255.255.0
        set gateway 172.18.1.1
        set device "port2"
    next
    edit 2
        set dst 10.0.2.0 255.255.255.0
        set gateway 172.18.1.1
        set device "port2"
    next
end

config firewall address
    edit "auth.app.wiz.io"
        set type fqdn
        set fqdn "auth.app.wiz.io"
    next
    edit "agent.us44.app.wiz.io"
        set type fqdn
        set fqdn "agent.us44.app.wiz.io"
    next
    edit "prod-us44-sensor.app.wiz.io"
        set type fqdn
        set fqdn "prod-us44-sensor.app.wiz.io"
    next
    edit "wizio.azurecr.io"
        set type fqdn
        set fqdn "wizio.azurecr.io"
    next
    edit "www.googleapis.com"
        set type fqdn
        set fqdn "www.googleapis.com"
    next
    edit "container.googleapis.com"
        set type fqdn
        set fqdn "container.googleapis.com"
    next
end

config firewall addrgrp
    edit "wiz-sensor"
        set member "agent.us44.app.wiz.io" "auth.app.wiz.io" "prod-us44-sensor.app.wiz.io" "wizio.azurecr.io"
    next
    edit "google-apis"
        set member "container.googleapis.com" "www.googleapis.com"
    next
end

config firewall policy
    edit 4
        set name "google-apis-allow"
        set srcintf "port2"
        set dstintf "port1"
        set action accept
        set srcaddr "all"
        set dstaddr "google-apis"
        set schedule "always"
        set service "HTTPS"
        set nat enable
    next
    edit 3
        set name "wiz-sensor-allow"
        set srcintf "port2"
        set dstintf "port1"
        set action accept
        set srcaddr "all"
        set dstaddr "wiz-sensor"
        set schedule "always"
        set service "ALL"
        set logtraffic all
        set nat enable
    next
        edit 1
        set name "allow-all-out"
        set srcintf "port2"
        set dstintf "port1"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
        set utm-status enable
        set ssl-ssh-profile "certificate-inspection"
        set ips-sensor "default"
        set application-list "default"
        set logtraffic all
        set nat enable
    next
end

config system sdn-connector
    edit "GCP"
        set type gcp
    next
end